# Bem vindos ao curso intensivo de


![Python logo](https://www.python.org/static/community_logos/python-logo-generic.svg)

In [0]:
"""CONSIDERAÇÕES"""
# Comentários
# Case Sensitive
# snake_case
#   Indentation
# !Bash
# pip3 install module_name
# python3 python_file.pys

# Tipos de Dados

Tipo           | Classe
---------------|:-----------------------------:
Text           |str
Numeric        |int, float, complex
Sequence       |list, tuple, range
Mapping        |dict
Set            |set, frozenset
Boolean        |bool
Binary         |bytes, bytearray, memoryview

---

Formato de escrita                           | Classe
----------------------------------|:-------------:
x = "Hello World" 	              |  str 	
x = 20 	                          |  int 	
x = 20.5 	                      |  float 	
x = 1j 	                          |  complex 	
x = ["apple", "banana", "cherry"] |  list 	
x = ("apple", "banana", "cherry") |  tuple 	
x = range(6) 	                  |  range 	
x = {"name" : "John", "age" : 36} |  dict 	
x = {"apple", "banana", "cherry"} |  set 	
x = frozenset({"apple", "cherry"})|  frozenset 	
x = True 	                      |  bool 	
x = b"Hello" 	                  |  bytes 	
x = bytearray(5) 	              |  bytearray 	
x = memoryview(bytes(5))          |  memoryview

---

Casting (conversão explícita)| Classe
--------------------------------------------|:---:
x = str("Hello World") 	                    | str 	
x = int(20) 	                            | int 	
x = float(20.5) 	                        | float 	
x = complex(1j) 	                        | complex 	
x = list(("apple", "banana", "cherry")) 	|  list 	
x = tuple(("apple", "banana", "cherry")) 	|  tuple 	
x = range(6) 	                            |  range 	
x = dict(name="John", age=36) 	            |  dict 	
x = set(("apple", "banana", "cherry")) 	    |  set 	
x = frozenset(("apple", "banana", "cherry"))| frozenset 	
x = bool(5) 	                            |  bool 	
x = bytes(5) 	                            |  bytes 	
x = bytearray(5) 	                        |  bytearray 	
x = memoryview(bytes(5)) 	                |  memoryview

# Variáveis e Atribuição

In [0]:
#@title
# Variáveis e atribuição
a = 5
b = 2
x, y, z = 1, 2, 3
x + z

# type(a)
# x, y = a, b
# x

# c = "Sistemas"
# d = "Unimontes"
# c+d

# type(c)

# Operadores Aritméticos

In [0]:
#@title
# Operadores aritméticos (+, -, *, **, /, //, %)
5+2


# Operadores Lógicos

In [0]:
#@title
# Comparações (==, !=, >, <, >=, <=)
a == b


# Operadores Bitwise

In [0]:
# Binário (<<, >>, &, |, ~, ^)
1 & 1

# Saída de Dados

In [0]:
# Saída de dados
a, b = 33, 57
print("As variáveis 'a' e 'b' contêm os valores %d e %d." %(a, b) )

print("As variáveis 'a' e 'b' contêm os valores " + str(a) + " e " + str(b) + ".")

print("As variáveis 'a' e 'b' contêm os valores {} e {}.".format(a, b) )

print(f"As variáveis 'a' e 'b' contêm os valores {a} e {b}.")

In [0]:
# swap variavéis
x = 2
y = 5

x, y = y, x

print(f"x: {x}")
print(f"y: {y}")

# Entrada de Dados

In [0]:
# Entrada de dados
nome = input("Digite o seu nome: ")
idade = input("Digite a sua idade: ")

print(f"Seu nome é {nome} e você tem {idade} anos!")
print("Seu nome é " + nome + " e você tem " + idade + " anos!")

# Estrutura de Decisão

$if = 
\begin{cases}
  print('isso\ mesmo') &\text{se $nome=isso$ } \\
  print('aquilo\ mesmo') & \forall \text{se $nome=aquilo$} \\
  print('não\ deu') & \text{outros casos}
\end{cases}$

In [0]:
# Estrutura de decisão
if nome == "Alex":
    print("Você é o Alex!")
elif nome == "alex":
    print("Você é o Alex!")
else:
    print("Você não é o Alex!")

# Estrutura de Repetição (while)
$\sum_{i=0}^{\infty} print(x)$

$\prod_{i=0}^{\infty} print(x)$

In [0]:
# Estruturas de repetição
i = 0
while i < 10: #True
    i = i + 1
    if i%2==0:
        print(f"{i} é par!")
    else:
        print(f"{i} é ímpar!")

# Estrutura de Repetição (for)
$\sum_{i=1}^{a}\sum_{j=1}^{b} \text{(a.b) + (i+j)}^2$

In [0]:
# Estruturas de repetição
for i in range(10):
    print(f"i = {i}")

# for i in range(1, 11, 2):
#     print(f"i = {i}")

In [0]:
# (axb)+(i+j)²
a =  int(input("Digite o valor de a: "))
b =  int(input("Digite o valor de b: "))
soma = 0

for i in range(1, a+1):
    for j in range(1, b+1):
        soma += (a*b) + (i+j)**2

print(soma)

# Strings (Imutáveis)

In [0]:
# Strings são Arrays de bytes
a = "              Hello, World!        "
print(a)
print(a[15])

a = a.strip() # remove das extremidades
# print(a)

In [0]:
print(a.lower())

# print(a.upper())

# print(a.replace("l", "x"))

# print(a.split("l"))

# print(a[8:13].replace("o", "A").upper())

In [0]:
# quais métodos tem a classe str?
dir(str)

# Listas (Mutáveis)

In [0]:
# Listas
# Se aplicam os mesmos métodos de slice das strings

l = [1, 2, 0, 0.0001, ["a", 3.14], "\u2665", False, True]

# for i in l:
#     if i:
#         print("Verdadeiro\t✅")
#     else:
#         print(f"Falso\t❎ {i}") # \b \r \t \n

In [0]:
l.append(2019)
# l.append(["d", "e", "f"])
# l.extend(["g", "h", "i"])
# l.insert(1,"X")

# print(l.count(0))
# print(l.index(30)) # gives error if not in list

# l = ["yanke", "zulu","x-ray", "whisky"]
# l.reverse()
# l.sort()
# l = [4, 5, 8, 1, 4, 2, 0, 9, 2, 4]
# l.sort()
# l.reverse()

print(f"l = {l}")

In [0]:
# l.remove(3.14)
# l.pop(1)

# Pilha
# l.append("último")
# l.pop()

# Fila
# l.append("último")
# l.pop(0)

print(f"l = {l}")

In [0]:
#isso cria uma referência, não uma cópia
l2 = l.copy()
l2[3] = 2222

# l2 = list(l)
# l2 = l[:]                 # slice retorna nova lista
# l2 = l.copy()
# import copy
# l2 = copy.deepcopy(l)     #para copiar listas aninhadas

# l2.insert(1, "cheguei")
# print(f"l2={l2}")

# import bisect
# bisect.insort(l, 3)       #inserir em listas ordenadas

# print(f"l = {l}")

In [0]:
L = [1, 2, 3, 9, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 2, 9]
print(L)
# print(*L, sep="\n") # desempacotar

# list_index = [i for i, n in enumerate(L) if n == 9]
# print(list_index)

# L = list(i for i in L if i not in list_index)
# print(L)

# l3 = list(range(0,21)[::2]) #lista de pares
# print(l3)

# Lists Comprehension
### Programação funcional

In [0]:
# Sintaxe: X for X in Y if Z 

l = [i for i in range(0, 11) if i%2!=0]

print(l)

# count = 0
# for x in range(5,10):
#     print(x, count)
#     count += 1

# for count, x in enumerate(range(10,15)):  #enumerate(iterable, start=0)
#     print(x,count)

In [0]:
s = "Semana de integração"
print(*(i for i in enumerate(s)), sep ="\n") # desempacotar

a = "Oftalm otorrino laringo logista"
b = list(i for i in a if i !=" ")
b = ("".join(b))
print(b)

In [0]:
# função zip (iterar em várias listas ao mesmo tempo)
for x, y, z in zip([1,2,3], [-4,5,7], [10, -8, -1]):
    print(f"({x})+({y})-({z}) = {x+y-z}")

# for x, y in zip(["Olá", "Olá", "Olá"], ["Amanda", "Laís", "Romero"]):
#     print(f"{x} {y}")

# for x, y in zip(3*["Olá"], ["Amanda", "Laís", "Romero"]):
#     print(f"{x} {y}")

In [0]:
# função map (aplica uma função sobre os valores de um iterável)
f = lambda x: x**2
num = [0, 1, 2, 3, 4, 5, 6, 7, 8]

l = list( map(f, num) )

# lista de numeros em strings
# l = "".join(map(str, num))

print(f"l = {l}")

In [0]:
# função filter
# extrair valores que satisfazem a condição
f = lambda x: x%2 == 0
l = list( filter(f, [0, 1, 2, 3, 4, 5, 6, 7, 8]) )

print(f"l = {l}")

In [0]:
# função reduce (aplica uma função cumulativa sobre os valores de um iterável)
from functools import reduce
f = lambda x, y: x*y
l = reduce(f, [1, 2, 3, 4, 5]) # 5!

print(f"l = {l}")

In [0]:
# transpor uma matriz
matriz = [
          [1, 2, 3, 4],
          [5, 6, 7, 8],
          [9, 10, 11, 12],
         ]

mt = [[row[i] for row in matriz] for i in range(4)]
# mt = list(zip(*matriz))

print(mt)

# Tuplas (Imutáveis)

In [0]:
# Tuplas são imutáveis em todos os aspectos
t = ("item 1", "item 2", 3, 5, 3, 3, True)

# t[3] = "item 4"
print(f"O quarto elemento é: {t[3]}\n")

print(t.count(3))
print(t.index(3)) # primeiro encontrado
# todos
list_index = [i for i, n in enumerate(t) if n == 3]
print(list_index)

In [0]:
# modificar tuplas (impossível)
t = ("item 1", "item 2", 3, 5, 3, 3, True)
l = list(t)
l.append(["valor 1", "valor 2", {"key": "value"}])
t = tuple(l)

# t[7][1] = 10
# t[7][2]["key"] = "NOVÍSSIMO VALOR"

print(t)

print(se)


# Dicionários (Mutáveis)

In [0]:
# Dicionários
d = {"Sistemas": 10, "de": 54, "Informação": 33, "Unimontes": 40, "Semana": 100, "de": 11}  #de=11
d["Integração"] = 73

# Apenas tuplas, strings, inteiros e floats podem ser chaves
d2 = {(1, 2, 3): "valor 1", "chave 2": "valor 2", 3.7: "valor 3", 773: "valor 4"}
d2[773] = "NOVO VALOR"
# print(d2[774])    # raise error
# print(d2.get(774))  # return none
# print(d2.get(774, "Chave inexistente!"))  # return alternative
# del d2["chave 2"]
# d2.pop("chave 2")
# d2.pop("chave 23", "Chave inexistente")
print(d2)

In [0]:
print(d.items())
# print(d.keys())
# print(d.values()

# a = d.items()
# print(*a, sep="\n")

In [0]:
d = {"nome": "Maria Dolores Silva",
     "idade": 23,
     "cpf": "111.222.333-98",
     "telefone": "(38) 98829-3376",
     "dia_nascimento": 10}

print(d.values())

# iterar em dicionários
# for k, v in d.items():
#     print(f"A chave '{k}' contém '{v}'.")

# print(*d.values(), sep="\n")

# Sets (Imutáveis)

In [0]:
# Os elementos dos Sets não podem ser mudados
# Os elementos são únicos

s = {1, 2, "Olá",  3, 4, 5, 6, (3, 4, 5), "teste"}
for i in range(7, 11):
    s.add(i)

# s[3] = 44

# a = [1, 2, 3, 4, 5, 6, 7, 8]
# b = [5, 6, 7, 8, 9, 10, 11, 12]

# st = set(i for i in a)
# st.add(i for i in b)
# print(f"st={st}")

# s.add((22,33,44))
# s.add("palavra")
# s.remove("palavra")
# s.discard((22, 33, 44))
# s.discard("teste")
# s.remove("teste")

# s.update(["orange", "mango", "grapes"])
print(s)

# b = s.union(["orange", "mango", "grapes"], {"key": "value"}.values(), [7, 8, 9, 0], [True, False])
# print(b)

In [0]:
import random
a = random.choices(["A", "B", "C", "D", "E", "Z", "H", "I", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "V", "X"],k=20)

# import string
# a = random.choices(string.ascii_letters.upper(), k=20)

# a.sort()

print(a)
# s = set(a)
# s.sort()

# s = sorted(set(a))
print(s)

# s = set(s)
# print(s)

# Módulos

In [0]:
# Módulos
import math
print(math.pi)

# from math import pi
# print(f"{pi:.4f}")      #f"{variavel:.f}"

# from math import *
# pow(pi,1/2)

# from math import pi as piupiu
# print(piupiu)

In [0]:
# instalar o módulo colorama
!pip3 install colorama
print("\n\n")

from colorama import Fore, Back, Style

print( Fore.YELLOW       + "Algum texto em amarelo")
print( Back.RED          + "Agora com background vermelho!")
print( Style.RESET_ALL   + "De volta ao normal.")

# Funções

In [0]:
# Funções

# Funções Embutidas
a = [1,3,2,5,7,6]
b = (4,6,9,7,4,3,6)
c = {6,4,2,6,3,7,1}
d = {"a": 3, "b":1, "c":2, "d": 0}
print(f"max(a): {max(a)}\nmax(b): {max(b)}\nmax(c): {max(c)}\nmax" +    # quebrar string no código
       "(d): {max(d.items())}\nmax(d.values): {max(d.values())}\n")

# import math
# def area_circulo(raio, pi=math.pi):   # pi é um argumento opcional
#     return pi * math.pow(raio,2)

# print(area_circulo(5, 2))

In [0]:
# função anônima (lambda)
# f = lambda raio: pi * raio**2
# print(f(5))

# Operador ternário
# a,b = 11, 12
# print(a < b and "A < B" or "A >= B")    #(a > b and "A > B" or "A = B")

# Operador ternário com lambda
# print((lambda x:(x % 2 and 'Ímpar!' or 'Par!'))(6))   # (6) é o parâmetro já passado

# mais de uma variável
# f = lambda x,y: x**y
# print(f(2,3))

In [0]:
# Escopo da variável
x = 11
def eh_par(valor):
    '''Função que verifica se um número é par!'''
    val = valor
    return (f"{val} é par!" if val%2 == 0 else f"{val} não é par!")

help(eh_par)

print(f"X é {x}.")
print(f"val é {val}.")

print(eh_par(x))

In [0]:
a = [1, 2, 3, 4, 5, 6]
a.remove(9)

# try:
#     a.remove(9)
# except (ValueError):
#     print("Impossível remover! Esse valor não existe em \"a\"!")

# Arquivos

In [0]:
# abrir
f = open("arquivo.txt", "rt+")    #r, w, a, x, r+ //t(text) b(binary)

f.close()

In [0]:
# Ler
f = open("arquivo.txt", "rt+")
print(f.read())

# Ler linha por linha
print(f.readline())

# Ler todas as linhas
print(f.readlines())

f.close()

In [0]:
# Escrever
f = open("arquivo.txt","w")
f.write("Hello World!")

# Escrever uma lista de linhas
# lines_of_text = ["Linha 1\n", "Linha 2\n", "Linha 3", "Linha 4"]
# f.writelines(lines_of_text)

# Acrescentar
# f = open("arquivo.txt", "a")
# f.write("Outra Linha")

# Fechar
# print(f.read())

f.close()

In [0]:
verificar se já existe
import os
if os.path.exists("arquivo.txt"):
    print("O arquivo já existe")

# f = open("arquivo2.txt", "a+")
# f.write("Bem vindos!")
# f.seek(0)
# print(f.read())

In [0]:
import os
os.remove("arquivo2.txt")

# import os
# os.mkdir("teste")
# os.rmdir("teste")

# usando with
# with open("arquivo3.txt", "a+") as f:
#     f.write("Hello, world!\n")
#     f.seek(0)
#     print(f.read())

# SQLite3

In [0]:
import sqlite3

conn = sqlite3.connect('database.db')

# cursor para manipular o banco (enviar comandos)
cur = conn.cursor()

# Criar tabela
# cur.execute("""CREATE TABLE pessoa (
#             id INTEGER PRIMARY KEY AUTOINCREMENT,
#             nome text NOT NULL,
#             idade text NOT NULL
#             )""")

# Inserir dados
# cur.execute("""INSERT INTO pessoa (nome, idade)VALUES ('Jorge Almeida', 30)""")
# cur.execute("""INSERT INTO pessoa (nome, idade)VALUES ('Romero Brito', 21)""")
# cur.execute("""INSERT INTO pessoa (nome, idade)VALUES ('Katrina', 18)""")

# rs = cur.execute("""SELECT * FROM pessoa""")
# print(cur.fetchall())
# for i in rs:
#     print(i)

# Salva as modificações no arquivo
conn.commit()

# Fecha a conexão com o banco
conn.close()